numpy
transformers[sentencepiece]
torch
torchvision
datasets
pillow
contextlib2
evaluate
toml
torchaudio
intel-npu-acceleration-library
soundfile
huggingface_hub
nltk
validators
timm
optimum
optimum-intel
auto-gptq
neural-compressor
onnxruntime
